<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>현재 상황</title>
    <style>
        body {
            background-color: #FFFF00; /* 연한 파란색 배경 */
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
        }

        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>2명 1명으로 나누어서 이동해주세요.</h1>
    <audio id="alertSound" src="{{ url_for('static', filename='Ysound.mp3') }}" autoplay loop></audio>
</body>
<script>
    // 0.5초마다 페이지 새로고침
    setInterval(function() {
        window.location.reload();
    }, 500);

    window.onload = function() {
        var audio = document.getElementById('alertSound');
        audio.play();
    };
</script>
</html>